@{
    ViewData["Title"] = "Example Page";
}
<h1>@ViewData["Title"]</h1>

<p>Hello, world!</p>

<form method="get" action="OutputExample">
    <label for="example">example Input</label>
    <input type="text" id="example" name="example" />
    <button type="submit">Submit</button>
</form>