@{
    ViewData["Title"] = "Mad Lib Result";
}

<h2>Your Mad Lib!</h2>

<p>
    @Html.Raw(string.Format(
    ViewBag.SelectedTemplate,
        ViewData["UserName"],
        ViewData["TownName"],
        ViewData["FoodType"],
        ViewData["FootwearType"],
        ViewData["VehicleType"],
        ViewData["ColorName"]
        ))
</p>
